<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Esse site foi desenvolvido com o framework Angular na trilha de treinamento da ProWay, ministrada pelo instrutor William Círico.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> maisiphonesoficial@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (19) 99749-7933</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>